@charset "IBM866";
/* line 17, D:/Program Files/Ruby200/lib/ruby/gems/2.0.0/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, D:/Program Files/Ruby200/lib/ruby/gems/2.0.0/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, D:/Program Files/Ruby200/lib/ruby/gems/2.0.0/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, D:/Program Files/Ruby200/lib/ruby/gems/2.0.0/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, D:/Program Files/Ruby200/lib/ruby/gems/2.0.0/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, D:/Program Files/Ruby200/lib/ruby/gems/2.0.0/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, D:/Program Files/Ruby200/lib/ruby/gems/2.0.0/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, D:/Program Files/Ruby200/lib/ruby/gems/2.0.0/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, D:/Program Files/Ruby200/lib/ruby/gems/2.0.0/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 12, D:/work/ezdict_front-end_proto/sass/app.scss */
html, body {
  background: #e5eef2;
  font-family: sans-serif;
}

/* line 17, D:/work/ezdict_front-end_proto/sass/app.scss */
b, strong {
  font-weight: 700;
}

/* line 18, D:/work/ezdict_front-end_proto/sass/app.scss */
i, em {
  font-style: italic;
}

/* line 19, D:/work/ezdict_front-end_proto/sass/app.scss */
h1, h2, h3, h4, h5 {
  font-weight: 700;
}

/* line 20, D:/work/ezdict_front-end_proto/sass/app.scss */
h1 {
  font-size: 36px;
}

/* line 21, D:/work/ezdict_front-end_proto/sass/app.scss */
h2 {
  font-size: 30px;
}

/* line 22, D:/work/ezdict_front-end_proto/sass/app.scss */
h3 {
  font-size: 24px;
}

/* line 23, D:/work/ezdict_front-end_proto/sass/app.scss */
h4 {
  font-size: 18px;
}

/* line 24, D:/work/ezdict_front-end_proto/sass/app.scss */
h5 {
  font-size: 14px;
}

/* line 25, D:/work/ezdict_front-end_proto/sass/app.scss */
h6 {
  font-size: 12px;
}

/* line 27, D:/work/ezdict_front-end_proto/sass/app.scss */
img {
  max-width: 100%;
}

/* line 30, D:/work/ezdict_front-end_proto/sass/app.scss */
.login-logo-wrap {
  *zoom: 1;
}
/* line 38, D:/Program Files/Ruby200/lib/ruby/gems/2.0.0/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
.login-logo-wrap:after {
  content: "";
  display: table;
  clear: both;
}

/* line 33, D:/work/ezdict_front-end_proto/sass/app.scss */
.header-pattern {
  *zoom: 1;
  background: url("../img/header_pattern4.gif") center center;
  overflow: hidden;
}
/* line 38, D:/Program Files/Ruby200/lib/ruby/gems/2.0.0/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
.header-pattern:after {
  content: "";
  display: table;
  clear: both;
}

/* line 39, D:/work/ezdict_front-end_proto/sass/app.scss */
.header-layout {
  position: relative;
  width: 100%;
  max-width: 1470px;
  margin: 0 auto;
}

/* line 45, D:/work/ezdict_front-end_proto/sass/app.scss */
header {
  max-width: 890px;
  /*51.02040816326531%;*/
  margin: 0 auto 20px;
  padding-top: 15px;
}
/* line 49, D:/work/ezdict_front-end_proto/sass/app.scss */
header ::-webkit-input-placeholder {
  /* WebKit browsers */
  color: white;
}
/* line 52, D:/work/ezdict_front-end_proto/sass/app.scss */
header :-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  color: white;
  opacity: 1;
}
/* line 56, D:/work/ezdict_front-end_proto/sass/app.scss */
header ::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  color: white;
  opacity: 1;
}
/* line 60, D:/work/ezdict_front-end_proto/sass/app.scss */
header :-ms-input-placeholder {
  /* Internet Explorer 10+ */
  color: white;
}
/* line 63, D:/work/ezdict_front-end_proto/sass/app.scss */
header input:focus::-moz-placeholder {
  color: transparent;
}
/* line 64, D:/work/ezdict_front-end_proto/sass/app.scss */
header input:focus::-webkit-input-placeholder {
  color: transparent;
}
/* line 65, D:/work/ezdict_front-end_proto/sass/app.scss */
header input:focus:-moz-placeholder {
  color: transparent;
}
/* line 66, D:/work/ezdict_front-end_proto/sass/app.scss */
header input:focus:-ms-input-placeholder {
  color: transparent;
}

/* line 68, D:/work/ezdict_front-end_proto/sass/app.scss */
.logo-wrap {
  vertical-align: bottom;
  width: 44%;
  float: left;
}

/* line 73, D:/work/ezdict_front-end_proto/sass/app.scss */
.login-btn {
  margin-top: -5px;
  margin-bottom: 10px;
  font-weight: bold;
}
/* line 77, D:/work/ezdict_front-end_proto/sass/app.scss */
.login-btn span {
  cursor: pointer;
}

/* line 81, D:/work/ezdict_front-end_proto/sass/app.scss */
.search-login-wrap {
  margin-left: 2.66667%;
  width: 53.33333333333333%;
  float: right;
  color: white;
  text-align: right;
}

/* line 89, D:/work/ezdict_front-end_proto/sass/app.scss */
.search-form {
  color: white;
  font-size: 16px;
  font-style: italic;
  width: 100%;
  height: 35px;
  background: none;
  border: 2px solid white;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding-left: 30px;
}

/* line 101, D:/work/ezdict_front-end_proto/sass/app.scss */
.appeal {
  color: white;
}
/* line 103, D:/work/ezdict_front-end_proto/sass/app.scss */
.appeal p {
  margin: 1em 0;
  font-size: 25px;
}

/* line 108, D:/work/ezdict_front-end_proto/sass/app.scss */
.carousel-wrap {
  position: relative;
  min-height: 525px;
}

/* line 114, D:/work/ezdict_front-end_proto/sass/app.scss */
.carousel-indicators {
  position: absolute;
  bottom: 5px;
  left: 50%;
  z-index: 15;
  width: 60%;
  margin-left: -30%;
  padding-left: 0;
  list-style: none;
  text-align: center;
}
/* line 124, D:/work/ezdict_front-end_proto/sass/app.scss */
.carousel-indicators li {
  display: inline-block;
  width: 13px;
  height: 13px;
  margin: 1px;
  text-indent: -999px;
  border: 1px solid #fff;
  border-radius: 10px;
  cursor: pointer;
  background-color: #000 \9;
  background-color: rgba(0, 0, 0, 0);
}

/* line 137, D:/work/ezdict_front-end_proto/sass/app.scss */
.carousel-indicators .active {
  margin: 0;
  width: 15px;
  height: 15px;
  background-color: #fff;
}

/* line 143, D:/work/ezdict_front-end_proto/sass/app.scss */
.carousel-item {
  min-height: 495px;
  margin: 0 auto;
  padding-bottom: 30px;
  position: relative;
  width: 100%;
}

/* line 151, D:/work/ezdict_front-end_proto/sass/app.scss */
.carousel-item.next {
  position: absolute;
  top: 0;
}

/* line 155, D:/work/ezdict_front-end_proto/sass/app.scss */
#second-slide, #third-slide {
  display: none;
}

/* line 158, D:/work/ezdict_front-end_proto/sass/app.scss */
#first-slide {
  background: url("../img/book2237ccc.png") no-repeat bottom center;
}

/* line 161, D:/work/ezdict_front-end_proto/sass/app.scss */
#second-slide {
  background: url("../img/town2.png") no-repeat bottom center;
}

/* line 164, D:/work/ezdict_front-end_proto/sass/app.scss */
#third-slide {
  background: url("../img/war-sharpen.png") no-repeat bottom center;
}

/* line 168, D:/work/ezdict_front-end_proto/sass/app.scss */
.text-wrap {
  position: relative;
  color: white;
  max-width: 890px;
  /*51.02040816326531% ;*/
  background: rgba(55, 27, 23, 0.2);
  margin: 0 auto;
  padding: 30px 4% 150px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
/* line 177, D:/work/ezdict_front-end_proto/sass/app.scss */
.text-wrap h3 {
  font-family: 'times new roman';
  text-align: center;
}

/* line 182, D:/work/ezdict_front-end_proto/sass/app.scss */
.excerption-wrap {
  margin-top: 25px;
  *zoom: 1;
}
/* line 38, D:/Program Files/Ruby200/lib/ruby/gems/2.0.0/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
.excerption-wrap:after {
  content: "";
  display: table;
  clear: both;
}

/* line 186, D:/work/ezdict_front-end_proto/sass/app.scss */
.excerption {
  position: relative;
  text-align: justify;
  font-size: 18px;
  line-height: 20px;
  text-shadow: 0 0 20px black;
  font-family: 'times';
}
/* line 193, D:/work/ezdict_front-end_proto/sass/app.scss */
.excerption:before {
  content: '';
  position: absolute;
  bottom: -20px;
  right: -3%;
  width: 25px;
  height: 20px;
  background: url(../img/promo-nav.png) -425px 0 no-repeat;
}
/* line 202, D:/work/ezdict_front-end_proto/sass/app.scss */
.excerption:after {
  content: '';
  position: absolute;
  top: -20px;
  left: -4%;
  width: 25px;
  height: 20px;
  background: url(../img/promo-nav.png) -425px -23px no-repeat;
}

/* line 212, D:/work/ezdict_front-end_proto/sass/app.scss */
.author-photo {
  font-size: 100%;
  width: 30%;
  float: left;
  padding-right: 4%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
/* line 218, D:/work/ezdict_front-end_proto/sass/app.scss */
.author-photo img {
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  -ms-border-radius: 100px;
  -o-border-radius: 100px;
  border-radius: 100px;
}

/* line 223, D:/work/ezdict_front-end_proto/sass/app.scss */
.author-text {
  font-size: 16px;
  width: 70%;
  float: left;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
/* line 228, D:/work/ezdict_front-end_proto/sass/app.scss */
.author-text p {
  margin-top: 50px;
}

/* line 232, D:/work/ezdict_front-end_proto/sass/app.scss */
.reg-btn {
  width: 315px;
  max-width: 315px;
  position: absolute;
  bottom: 30px;
  left: 0;
  right: 0;
  margin: 0 auto;
  text-align: center;
}
/* line 242, D:/work/ezdict_front-end_proto/sass/app.scss */
.reg-btn button {
  font-size: 24px;
  color: white;
  width: 100%;
  height: 90px;
  background: rgba(7, 78, 114, 0.65);
  border: none;
  -webkit-box-shadow: black 0 0 30px;
  -moz-box-shadow: black 0 0 30px;
  box-shadow: black 0 0 30px;
}
/* line 251, D:/work/ezdict_front-end_proto/sass/app.scss */
.reg-btn button:hover {
  cursor: pointer;
  background: rgba(7, 78, 114, 0.9);
}
/* line 256, D:/work/ezdict_front-end_proto/sass/app.scss */
.reg-btn button:active {
  background: rgba(42, 157, 214, 0.8);
}

/* line 261, D:/work/ezdict_front-end_proto/sass/app.scss */
.main-layout {
  max-width: 1470px;
  margin: 0 auto;
  *zoom: 1;
}
/* line 38, D:/Program Files/Ruby200/lib/ruby/gems/2.0.0/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
.main-layout:after {
  content: "";
  display: table;
  clear: both;
}

/* line 266, D:/work/ezdict_front-end_proto/sass/app.scss */
.promo-wrap {
  margin: 20px 0;
  *zoom: 1;
}
/* line 38, D:/Program Files/Ruby200/lib/ruby/gems/2.0.0/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
.promo-wrap:after {
  content: "";
  display: table;
  clear: both;
}

/* line 270, D:/work/ezdict_front-end_proto/sass/app.scss */
.promo-item {
  color: white;
  width: 31.97278911564626%;
  min-height: 220px;
  margin: 15px 0.6802721088435374%;
  padding: 30px 1.360544217687075%;
  float: left;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
/* line 278, D:/work/ezdict_front-end_proto/sass/app.scss */
.promo-item p {
  margin: 15px auto 0 auto;
  width: 95%;
  font-size: 20px;
}
/* line 283, D:/work/ezdict_front-end_proto/sass/app.scss */
.promo-item table {
  margin: 0 auto;
}
/* line 286, D:/work/ezdict_front-end_proto/sass/app.scss */
.promo-item td {
  padding: 0 10px;
}

/* line 290, D:/work/ezdict_front-end_proto/sass/app.scss */
.promo-item.first {
  background: #74b2e5;
}

/* line 293, D:/work/ezdict_front-end_proto/sass/app.scss */
.promo-item.second {
  background: #709bbe;
}

/* line 296, D:/work/ezdict_front-end_proto/sass/app.scss */
.promo-item.third {
  background: #109927;
}

/* line 299, D:/work/ezdict_front-end_proto/sass/app.scss */
.promo-img {
  width: 85px;
  height: 78px;
  background: url(../img/promo-nav.png) no-repeat;
  vertical-align: middle;
}

/* line 305, D:/work/ezdict_front-end_proto/sass/app.scss */
.diagramm {
  background-position: -85px 0;
}

/* line 308, D:/work/ezdict_front-end_proto/sass/app.scss */
.dollar {
  width: 50px;
  background-position: -180px 0;
}

/* line 312, D:/work/ezdict_front-end_proto/sass/app.scss */
.news-item {
  position: relative;
  color: white;
  margin-bottom: 2.777777777777778%;
  background: #128929;
  padding: 25px 4.62962962962963% 100px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
/* line 319, D:/work/ezdict_front-end_proto/sass/app.scss */
.news-item:last-child {
  background: #3e6044;
}
/* line 322, D:/work/ezdict_front-end_proto/sass/app.scss */
.news-item h3 {
  font-weight: 500;
}

/* line 327, D:/work/ezdict_front-end_proto/sass/app.scss */
.news-item-img {
  margin: 20px 0;
  text-align: center;
}

/* line 332, D:/work/ezdict_front-end_proto/sass/app.scss */
.news-item-txt {
  font-size: 20px;
  line-height: 25px;
}

/* line 336, D:/work/ezdict_front-end_proto/sass/app.scss */
.news-item-btn {
  position: absolute;
  bottom: 20px;
  right: 4.62962962962963%;
  width: 72px;
  height: 73px;
  background: transparent url("../img/promo-nav.png") -261px -5px no-repeat;
  cursor: pointer;
  -webkit-border-radius: 60px;
  -moz-border-radius: 60px;
  -ms-border-radius: 60px;
  -o-border-radius: 60px;
  border-radius: 60px;
}
/* line 345, D:/work/ezdict_front-end_proto/sass/app.scss */
.news-item-btn:hover {
  background-color: rgba(255, 255, 255, 0.2);
}
/* line 349, D:/work/ezdict_front-end_proto/sass/app.scss */
.news-item-btn:active {
  background-position: -346px -5px;
}

/* line 353, D:/work/ezdict_front-end_proto/sass/app.scss */
.popular-new-content {
  *zoom: 1;
}
/* line 38, D:/Program Files/Ruby200/lib/ruby/gems/2.0.0/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
.popular-new-content:after {
  content: "";
  display: table;
  clear: both;
}

/* line 357, D:/work/ezdict_front-end_proto/sass/app.scss */
.pop-new-header {
  background: #299bb0;
  margin-bottom: 1.685393258426966%;
  padding: 2.584269662921348% 1.685393258426966%;
}
/* line 363, D:/work/ezdict_front-end_proto/sass/app.scss */
.pop-new-header h3 {
  font-weight: 500;
  color: white;
}

/* line 368, D:/work/ezdict_front-end_proto/sass/app.scss */
.new-header {
  background: #49b7cb;
}

/* line 371, D:/work/ezdict_front-end_proto/sass/app.scss */
.pop-new-col-1 {
  text-align: center;
  width: 44.9438202247191%;
  margin-right: 2.247191011235955%;
  float: left;
}

/* line 377, D:/work/ezdict_front-end_proto/sass/app.scss */
.pop-new-item {
  position: relative;
  font-size: 0;
  cursor: pointer;
  margin-bottom: 3.74999995217391%;
}
/* line 382, D:/work/ezdict_front-end_proto/sass/app.scss */
.pop-new-item h4 {
  font-weight: 500;
  line-height: 40px;
}
/* line 386, D:/work/ezdict_front-end_proto/sass/app.scss */
.pop-new-item:hover .item-annotation-inner > h4 {
  display: none;
  line-height: 18px;
}

/* line 391, D:/work/ezdict_front-end_proto/sass/app.scss */
.item-annotation {
  color: white;
  font-size: 16px;
  position: absolute;
  height: 40px;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(64, 148, 203, 0.9);
  overflow: hidden;
}

/* line 402, D:/work/ezdict_front-end_proto/sass/app.scss */
.item-description-wrap {
  width: 100%;
  height: 100%;
  display: none;
}

/* line 408, D:/work/ezdict_front-end_proto/sass/app.scss */
.item-description-wrap .item-description-cell {
  display: table-cell;
  vertical-align: middle;
}

/* line 412, D:/work/ezdict_front-end_proto/sass/app.scss */
.item-description {
  padding: 0 10px;
  width: 100%;
  margin: 10px auto;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
/* line 417, D:/work/ezdict_front-end_proto/sass/app.scss */
.item-description > h4 {
  line-height: 18px;
  margin-bottom: 10px;
}

/* line 423, D:/work/ezdict_front-end_proto/sass/app.scss */
.pop-new-col-2 {
  text-align: center;
  width: 52.80898876404494%;
  float: left;
}

/* line 429, D:/work/ezdict_front-end_proto/sass/app.scss */
.item-large {
  margin-bottom: 3.191489361702128%;
}

/* line 433, D:/work/ezdict_front-end_proto/sass/app.scss */
.news-col, .content-col {
  float: left;
}

/* line 436, D:/work/ezdict_front-end_proto/sass/app.scss */
.news-col {
  float: left;
  margin: 0 0.6802721088435374%;
  height: 100%;
  width: 36.73469387755102%;
}

/* line 443, D:/work/ezdict_front-end_proto/sass/app.scss */
.content-col {
  float: left;
  margin: 0 0.6802721088435374%;
  width: 60.54421768707483%;
}

/* line 449, D:/work/ezdict_front-end_proto/sass/app.scss */
.sticker {
  bottom: 78%;
  right: 25%;
  position: absolute;
  z-index: 100000;
  width: 200px;
  background: #109926;
  padding-bottom: 25px;
  -webkit-box-shadow: #003600 -3px 2px 0px;
  -moz-box-shadow: #003600 -3px 2px 0px;
  box-shadow: #003600 -3px 2px 0px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
/* line 460, D:/work/ezdict_front-end_proto/sass/app.scss */
.sticker::after {
  content: '';
  position: absolute;
  z-index: 1;
  bottom: -27px;
  right: 50%;
  margin-right: -13px;
  border: 14px solid;
  border-color: #109926 transparent transparent transparent;
}
/* line 470, D:/work/ezdict_front-end_proto/sass/app.scss */
.sticker::before {
  content: '';
  position: absolute;
  z-index: 0;
  bottom: -28px;
  right: 50%;
  margin-right: -11px;
  border: 14px solid;
  border-color: #003600 transparent transparent transparent;
}
/* line 485, D:/work/ezdict_front-end_proto/sass/app.scss */
.sticker i {
  color: white;
}

/* line 489, D:/work/ezdict_front-end_proto/sass/app.scss */
.slide-down-btn {
  cursor: pointer;
  position: absolute;
  bottom: 2px;
  right: 5px;
}

/* line 496, D:/work/ezdict_front-end_proto/sass/app.scss */
.slide-down-btn.slide-up {
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
  line-height: 19px;
}

/* line 501, D:/work/ezdict_front-end_proto/sass/app.scss */
.control-panel {
  position: absolute;
}

/* line 504, D:/work/ezdict_front-end_proto/sass/app.scss */
.control-panel.left {
  left: -33px;
}

/* line 507, D:/work/ezdict_front-end_proto/sass/app.scss */
.control-panel.right {
  right: -33px;
}

/* line 510, D:/work/ezdict_front-end_proto/sass/app.scss */
.st-btn-wrap {
  cursor: pointer;
}

/* line 514, D:/work/ezdict_front-end_proto/sass/app.scss */
.st-btn {
  font-size: 18px;
  width: 26px;
  height: 22px;
  background: #109926;
  margin-bottom: 3px;
  font-family: 'times';
  text-align: center;
  color: #fff;
  line-height: 22px;
  -webkit-box-shadow: #003600 -1px 1px 1px;
  -moz-box-shadow: #003600 -1px 1px 1px;
  box-shadow: #003600 -1px 1px 1px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}
/* line 527, D:/work/ezdict_front-end_proto/sass/app.scss */
.st-btn:hover {
  background-color: #88cc93;
}
/* line 530, D:/work/ezdict_front-end_proto/sass/app.scss */
.st-btn:active {
  background-color: #003600;
}

/* line 534, D:/work/ezdict_front-end_proto/sass/app.scss */
.counter {
  overflow: hidden;
  position: absolute;
  width: 26px;
  height: 22px;
  line-height: 24px;
  text-align: center;
  background: #fff;
  top: -25px;
  -webkit-box-shadow: #003600 -1px 1px 1px;
  -moz-box-shadow: #003600 -1px 1px 1px;
  box-shadow: #003600 -1px 1px 1px;
}
/* line 544, D:/work/ezdict_front-end_proto/sass/app.scss */
.counter > p {
  font-weight: 800;
  color: #20a034;
}

/* line 550, D:/work/ezdict_front-end_proto/sass/app.scss */
.counter.warning1 {
  background: #efd7d7;
}

/* line 553, D:/work/ezdict_front-end_proto/sass/app.scss */
.counter.warning2 {
  background: #e5d8a5;
}

/* line 556, D:/work/ezdict_front-end_proto/sass/app.scss */
.counter.warning3 {
  background: #dcab71;
}

/* line 559, D:/work/ezdict_front-end_proto/sass/app.scss */
.counter.warning4 {
  background: #dc8071;
}

/* line 562, D:/work/ezdict_front-end_proto/sass/app.scss */
.counter.warning5 {
  background: #ca3030;
}
/* line 564, D:/work/ezdict_front-end_proto/sass/app.scss */
.counter.warning5 p {
  color: white;
}

/* line 573, D:/work/ezdict_front-end_proto/sass/app.scss */
.st-btn.add-new {
  display: none;
}

/* line 581, D:/work/ezdict_front-end_proto/sass/app.scss */
.st-btn.like-it {
  font-size: 17px;
  display: none;
}

/* line 587, D:/work/ezdict_front-end_proto/sass/app.scss */
.st-btn.close {
  font-size: 14px;
}

/* line 594, D:/work/ezdict_front-end_proto/sass/app.scss */
.vrashi:hover .st-btn {
  -webkit-animation: rotating 1s linear infinite;
  -moz-animation: rotating 1s linear infinite;
  -ms-animation: rotating 1s linear infinite;
  -o-animation: rotating 1s linear infinite;
  animation: rotating 1s linear infinite;
}

@keyframes rotating {
  /* line 603, D:/work/ezdict_front-end_proto/sass/app.scss */
  0% {
    -webkit-transform: rotateY(0deg);
    -moz-transform: rotateY(0deg);
    -ms-transform: rotateY(0deg);
    -o-transform: rotateY(0deg);
    transform: rotateY(0deg);
  }

  /* line 607, D:/work/ezdict_front-end_proto/sass/app.scss */
  50% {
    background: #0e761f;
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    -ms-transform: rotateY(180deg);
    -o-transform: rotateY(180deg);
    transform: rotateY(180deg);
  }

  /* line 612, D:/work/ezdict_front-end_proto/sass/app.scss */
  100% {
    -webkit-transform: rotateY(360deg);
    -moz-transform: rotateY(360deg);
    -ms-transform: rotateY(360deg);
    -o-transform: rotateY(360deg);
    transform: rotateY(360deg);
  }
}

@-webkit-keyframes rotating {
  /* line 618, D:/work/ezdict_front-end_proto/sass/app.scss */
  0% {
    -webkit-transform: rotateY(0deg);
    -moz-transform: rotateY(0deg);
    -ms-transform: rotateY(0deg);
    -o-transform: rotateY(0deg);
    transform: rotateY(0deg);
  }

  /* line 622, D:/work/ezdict_front-end_proto/sass/app.scss */
  50% {
    background: #0e761f;
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    -ms-transform: rotateY(180deg);
    -o-transform: rotateY(180deg);
    transform: rotateY(180deg);
  }

  /* line 627, D:/work/ezdict_front-end_proto/sass/app.scss */
  100% {
    -webkit-transform: rotateY(360deg);
    -moz-transform: rotateY(360deg);
    -ms-transform: rotateY(360deg);
    -o-transform: rotateY(360deg);
    transform: rotateY(360deg);
  }
}

/* line 631, D:/work/ezdict_front-end_proto/sass/app.scss */
.sticker-source-wrap {
  display: table;
  /*фикс для Safari*/
  padding: 3px 0 0 3px;
  font-size: 0;
}

/* line 637, D:/work/ezdict_front-end_proto/sass/app.scss */
.sticker-source-wrap > div {
  display: inline-block;
  color: white;
  cursor: pointer;
  font-size: 12px;
  margin-right: 2px;
}

/* line 644, D:/work/ezdict_front-end_proto/sass/app.scss */
.st-source-btn {
  width: 16px;
  height: 16px;
  text-align: center;
  line-height: 16px;
  vertical-align: middle;
  text-shadow: 0 0 0.5px white;
}
/* line 651, D:/work/ezdict_front-end_proto/sass/app.scss */
.st-source-btn:hover {
  background: #88cc93;
}
/* line 654, D:/work/ezdict_front-end_proto/sass/app.scss */
.st-source-btn:active {
  background: #003600;
}

/* line 658, D:/work/ezdict_front-end_proto/sass/app.scss */
.st-source-btn.ezdict {
  font-size: 13px;
}

/* line 661, D:/work/ezdict_front-end_proto/sass/app.scss */
.st-source-btn.best {
  line-height: 14px;
  font-size: 14px;
}

/* line 665, D:/work/ezdict_front-end_proto/sass/app.scss */
.st-source-btn.active {
  background: #003600;
}

/* line 668, D:/work/ezdict_front-end_proto/sass/app.scss */
.st-translate {
  overflow: hidden;
  color: white;
  font-size: 14px;
  margin: 8px 5px 0 5px;
  padding: 0 5px 5px 0;
  max-height: 30px;
  line-height: 15px;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 679, D:/work/ezdict_front-end_proto/sass/app.scss */
.st-translate.large {
  max-height: 160px;
}

/* line 683, D:/work/ezdict_front-end_proto/sass/app.scss */
#ezdict-sticker, #best-sticker {
  display: none;
}

/*media quaeries*/
@media only screen and (max-width: 1280px) {
  /* line 692, D:/work/ezdict_front-end_proto/sass/app.scss */
  .promo-item {
    min-height: 250px;
  }
}
@media only screen and (max-width: 1024px) {
  /* line 700, D:/work/ezdict_front-end_proto/sass/app.scss */
  .text-wrap {
    width: 95%;
  }

  /* line 703, D:/work/ezdict_front-end_proto/sass/app.scss */
  header {
    width: 95%;
  }
}
@media only screen and (max-width: 992px) {
  /*promo*/
  /* line 711, D:/work/ezdict_front-end_proto/sass/app.scss */
  .promo-item.first {
    width: 48.6394557823%;
  }

  /* line 715, D:/work/ezdict_front-end_proto/sass/app.scss */
  .promo-item.second {
    width: 48.6394557823%;
  }

  /* line 719, D:/work/ezdict_front-end_proto/sass/app.scss */
  .promo-item.third {
    margin-top: 5px;
    width: 98.63945578231293%;
    min-height: 100%;
  }

  /*end-promo*/
  /*news*/
}
@media only screen and (max-width: 768px) {
  /* line 732, D:/work/ezdict_front-end_proto/sass/app.scss */
  .promo-item.first {
    width: 98.63945578231293%;
    margin-top: 15px;
    min-height: 100%;
  }

  /* line 737, D:/work/ezdict_front-end_proto/sass/app.scss */
  .promo-item.second {
    width: 98.63945578231293%;
    margin-top: 5px;
    min-height: 100%;
  }

  /* line 742, D:/work/ezdict_front-end_proto/sass/app.scss */
  .promo-item.third {
    margin-top: 5px;
    width: 98.63945578231293%;
    min-height: 100%;
  }

  /* line 747, D:/work/ezdict_front-end_proto/sass/app.scss */
  .author-photo {
    text-align: center;
    width: 100%;
  }

  /* line 751, D:/work/ezdict_front-end_proto/sass/app.scss */
  .author-text {
    width: 100%;
  }

  /* line 754, D:/work/ezdict_front-end_proto/sass/app.scss */
  .logo-wrap {
    text-align: center;
    width: 100%;
  }

  /* line 758, D:/work/ezdict_front-end_proto/sass/app.scss */
  .search-login-wrap {
    width: 100%;
  }

  /* line 761, D:/work/ezdict_front-end_proto/sass/app.scss */
  .reg-btn {
    width: 100%;
  }

  /* line 765, D:/work/ezdict_front-end_proto/sass/app.scss */
  .popular-new-content h3 {
    font-size: 18px;
  }

  /* line 769, D:/work/ezdict_front-end_proto/sass/app.scss */
  .content-col {
    width: 98.63945578231293%;
  }
  /* line 771, D:/work/ezdict_front-end_proto/sass/app.scss */
  .content-col img {
    width: 100%;
  }

  /* line 775, D:/work/ezdict_front-end_proto/sass/app.scss */
  .news-col {
    width: 98.63945578231293%;
  }

  /* line 779, D:/work/ezdict_front-end_proto/sass/app.scss */
  .news-item h3 {
    text-align: center;
  }
}
