/* line 1, D:/work/ezdict_front-end_proto/sass/profile.scss */
body {
  font-family: sans-serif;
}

/* line 6, D:/work/ezdict_front-end_proto/sass/profile.scss */
b, strong {
  font-weight: 700;
}

/* line 7, D:/work/ezdict_front-end_proto/sass/profile.scss */
i, em {
  font-style: italic;
}

/* line 8, D:/work/ezdict_front-end_proto/sass/profile.scss */
h1, h2, h3, h4, h5 {
  font-weight: 700;
}

/* line 9, D:/work/ezdict_front-end_proto/sass/profile.scss */
h1 {
  font-size: 36px;
}

/* line 10, D:/work/ezdict_front-end_proto/sass/profile.scss */
h2 {
  font-size: 30px;
}

/* line 11, D:/work/ezdict_front-end_proto/sass/profile.scss */
h3 {
  font-size: 24px;
}

/* line 12, D:/work/ezdict_front-end_proto/sass/profile.scss */
h4 {
  font-size: 18px;
}

/* line 13, D:/work/ezdict_front-end_proto/sass/profile.scss */
h5 {
  font-size: 14px;
}

/* line 14, D:/work/ezdict_front-end_proto/sass/profile.scss */
h6 {
  font-size: 12px;
}

/* line 16, D:/work/ezdict_front-end_proto/sass/profile.scss */
img {
  max-width: 100%;
}

/* line 19, D:/work/ezdict_front-end_proto/sass/profile.scss */
.wrapp {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  height: 100%;
  background: url("../img/header_pattern4.gif") center center;
  background-attachment: local;
  overflow-y: auto;
}
