@import "compass/reset" ;
@import "compass/utilities";
@import "compass/css3";

// colors 
$font-main-color: white;
$col-header-color: #3d4f56;

// width 
$main-width: 1470px;

body {
	background: url('../img/header_pattern4.gif') center 80px ;
  font-family: sans-serif;
}

b, strong {font-weight: 700;}
i, em {font-style: italic;}
h1,h2,h3,h4,h5 {font-weight: 700};
h1 {font-size: 36px;}
h2 {font-size: 30px;}
h3 {font-size: 24px;}
h4 {font-size: 18px;}
h5 {font-size: 14px;}
h6 {font-size: 12px;}

img{
  max-width: 100%;
}

.index-wrapp {
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	height: 100%;
	background: #e5eef2;
	overflow-y: auto;
}

.login-logo-wrap{
  @include pie-clearfix;
}
.header-pattern {
  @include pie-clearfix;
  background: url('../img/header_pattern4.gif') center center ;
  overflow: hidden;
}

.header-layout{
  position: relative;
  width:100%;
  max-width:$main-width;
  margin:0 auto;
}
header{
  max-width: 890px; /*51.02040816326531%;*/
  margin: 0 auto 20px  ;
  padding-top: 15px;
  ::-webkit-input-placeholder { /* WebKit browsers */
    color: $font-main-color;
  }
  :-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color: $font-main-color;
    opacity:  1;
  }
  ::-moz-placeholder { /* Mozilla Firefox 19+ */
    color: $font-main-color;
    opacity:  1;
  }
  :-ms-input-placeholder { /* Internet Explorer 10+ */
    color: $font-main-color;
  }
  input:focus::-moz-placeholder {color: transparent;}
  input:focus::-webkit-input-placeholder {color: transparent;}
  input:focus:-moz-placeholder {color: transparent;}
  input:focus:-ms-input-placeholder {color: transparent;}
}
.logo-wrap{
  vertical-align: bottom;
  width: 44%;
  float: left;
}
.login-btn{
  margin-top: -5px;
  margin-bottom: 10px;
  font-weight: bold;
  span{
    cursor: pointer;
  }
}
.search-login-wrap{
  margin-left:2.666666666666667% ;
  width: 53.33333333333333%;
  float: right;
  color: $font-main-color;
  text-align: right ;

}
.search-form {
  color: $font-main-color;
  font-size:16px;
  font-style: italic;
  width: 100%;
  height: 35px;
  background:none;
  border: 2px solid $font-main-color;
  @include border-radius(3px);
  @include box-sizing(border-box);
  padding-left: 30px;
}
.appeal{
  color: $font-main-color;
  p {
    margin: 1em 0;
    font-size: 25px;
  }
}
.carousel-wrap{
  position: relative;
  min-height: 525px;
  
 
}
.carousel-indicators {
  position: absolute;
  bottom: 5px;
  left: 50%;
  z-index: 15;
  width: 60%;
  margin-left: -30%;
  padding-left: 0;
  list-style: none;
  text-align: center;
  li {
    display: inline-block;
    width: 13px;
    height: 13px;
    margin: 1px;
    text-indent: -999px;
    border: 1px solid #fff;
    border-radius: 10px;
    cursor: pointer;
    background-color: #000 \9;
    background-color: rgba(0,0,0,0);
  }
}
.carousel-indicators .active {
  margin: 0;
  width: 15px;
  height: 15px;
  background-color: #fff;
}
.carousel-item {
  min-height:495px;
  margin:0 auto;
  padding-bottom: 30px;
  position: relative;
  width: 100%;
  
}
.carousel-item.next {
  position: absolute;
  top: 0;
}
#second-slide, #third-slide {
  display: none;
}
#first-slide {
  background: url('../img/book2237ccc.png') no-repeat bottom center;  
}
#second-slide {
  background: url('../img/town2.png') no-repeat bottom center;
}
#third-slide {
  background: url('../img/war-sharpen.png') no-repeat bottom center;
}

.text-wrap{
  position: relative;
  color: $font-main-color;
  max-width: 890px ; /*51.02040816326531% ;*/
  background: rgba(55, 27, 23, 0.20);
  margin: 0 auto;
  padding: 30px 4% 150px;
  @include border-radius(10px);
  @include box-sizing(border-box);
  h3 {
    font-family: 'times new roman';
    text-align: center;
  }
}
.excerption-wrap{
  margin-top: 25px;
  @include pie-clearfix;
}
.excerption {
  position: relative;
  text-align: justify;
  font-size: 18px;
  line-height: 20px;
  text-shadow: 0 0 20px black;//, 0 0 30px rgba(0, 0, 0, 0.40);
  font-family: 'times';
  &:before {
    content: '';
    position: absolute;
    bottom: -20px;
    right: -3%;
    width: 25px;
    height: 20px;
    background:url(../img/promo-nav.png) -425px 0 no-repeat;
  }
  &:after {
    content: '';
    position: absolute;
    top: -20px;
    left: -4%;
    width: 25px;
    height: 20px;
    background:url(../img/promo-nav.png) -425px -23px no-repeat;
  }
}
.author-photo{
  font-size: 100%;
  width: 30%;
  float: left;
  padding-right: 4%;
  @include box-sizing(border-box);
  img {
    @include border-radius(100px);
  }

}
.author-text {
  font-size: 16px;
  width: 70%;
  float: left;
  @include box-sizing(border-box);
  p {
    margin-top: 50px;
  }
}
.reg-btn {
  width: 315px; //ie position center hack
  max-width: 315px;
  position: absolute;
  bottom: 30px;
  left: 0;
  right: 0;
  margin: 0 auto;
  text-align: center;

  button {
    font-size: 24px;
    color: $font-main-color;
    width: 100%;
    height: 90px;
    background: rgba(7,78,114,0.65);
    border: none;
    @include box-shadow(black 0 0 30px);

    &:hover {
      cursor: pointer;
      background: rgba(7,78,114,0.9);
    }

    &:active {
      background: rgba(42,157,214,0.8);
    }
  }
}
.main-layout{
  max-width: $main-width;
  margin: 0 auto ;
  @include pie-clearfix;
}
.promo-wrap{
  margin: 20px 0;
  @include pie-clearfix;
}
.promo-item{
  color: $font-main-color;
  width:31.97278911564626%;
  min-height: 220px;
  margin: 15px 0.6802721088435374%;
  padding: 30px 1.360544217687075%;
  float: left;
  @include box-sizing(border-box);
  p {
    margin: 15px auto 0 auto;
    width: 95%;
    font-size: 20px;
  }
  table {
    margin: 0 auto;
  }
  td {
    padding: 0 10px;
  }
}
.promo-item.first {
  background: #74b2e5;
}
.promo-item.second {
  background: #709bbe;
}
.promo-item.third {
  background: #109927;
}
.promo-img {
  width: 85px;
  height: 78px;
  background: url(../img/promo-nav.png) no-repeat;
  vertical-align: middle;
}
.diagramm {
  background-position: -85px 0;
}
.dollar {
  width: 50px;
  background-position: -180px 0;
}
.news-item {
  position: relative;
  color: $font-main-color;
  margin-bottom: 2.777777777777778%;
  background: #128929;
  padding: 25px 4.62962962962963% 100px;
  @include box-sizing(border-box);
  &:last-child{
    background:#3e6044;
  }
  h3{
    font-weight: 500;
  }

}
.news-item-img {
  margin: 20px 0;
  text-align: center;

}
.news-item-txt{
  font-size: 20px;
  line-height: 25px;
}
.news-item-btn {
  position: absolute;
  bottom: 20px;
  right: 4.62962962962963%;
  width: 72px;
  height: 73px;
  background:transparent url('../img/promo-nav.png') -261px -5px no-repeat;
  cursor:pointer;
  @include border-radius(60px);
  &:hover {
   // @include box-shadow(white 0 0 20px, inset 0 0 20px);
    background-color: rgba(255, 255, 255, 0.20);
  }
  &:active{
    background-position: -346px -5px;
  }
}
.popular-new-content {
  //margin-bottom: 1.685393258426966%;
  @include pie-clearfix;
}
.pop-new-header{

  background: #299bb0;
  margin-bottom: 1.685393258426966%;
  padding: 2.584269662921348% 1.685393258426966%;

  h3{
    font-weight: 500;
    color: $font-main-color;
  }
}
.new-header {
  background: #49b7cb;
}
.pop-new-col-1{
  text-align: center;
  width:44.9438202247191%;
  margin-right: 2.247191011235955%;
  float:left;
}
.pop-new-item {
  position: relative;
  font-size: 0;
  cursor: pointer;
  margin-bottom: 3.74999995217391%;
  h4 {
    font-weight: 500;
    line-height: 40px;
  }
  &:hover .item-annotation-inner>h4 {
    display: none;
    line-height: 18px;
  }
}
.item-annotation {
  color: $font-main-color;
  font-size: 16px;
  position: absolute;
  height: 40px;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(64,148,203,0.9);
  overflow: hidden;
}
.item-description-wrap {
  width: 100%;
  height: 100%;
  display: none;
}

.item-description-wrap .item-description-cell {
  display: table-cell;
  vertical-align: middle;
}
.item-description {
  padding: 0 10px;
  width: 100%;
  margin: 10px auto;
  @include box-sizing(border-box);
  >h4{
    line-height: 18px;
    margin-bottom: 10px;
  }

}
.pop-new-col-2{
  text-align: center;
  width: 52.80898876404494%;
  float:left;
}

.item-large{
  margin-bottom: 3.191489361702128%;
}

.news-col, .content-col {
  float:left;
}
.news-col {
  float: left;
  margin: 0 0.6802721088435374%;
  height: 100%;
  width: 36.73469387755102%;

}
.content-col {
  float:left;
  margin: 0 0.6802721088435374%;
  width: 60.54421768707483%;
}
// все, что касается ссаного стикера-здесь
.sticker {
  bottom:78%;
  right: 25%;
  position: absolute;
  z-index: 100000;
  width: 200px;
  background:#109926;
  padding-bottom: 25px;
  @include box-shadow(#003600 -3px 2px 0px);
  @include box-sizing(border-box);
  &::after {
    content: '';
    position: absolute;
    z-index: 1;
    bottom: -27px;
    right: 50%;
    margin-right:-13px ;
    border: 14px solid;
    border-color: #109926 transparent transparent transparent;
  }
  &::before {
    content: '';
    position: absolute;
    z-index: 0;
    bottom: -28px;
    right: 50%;
    margin-right:-11px ;
    border: 14px solid;
    border-color: #003600 transparent transparent transparent;
  }
  i{
    color:white;
  }
}
.slide-down-btn {
  cursor: pointer;
  position: absolute;
  bottom: 5px;
  right: 5px;
  font-size: 0;
  &:hover{
  @include box-shadow(0 0 10px white, 0 0 10px inset);
  @include border-radius(15px);
  }
  >i{
    font-size: 16px;
  }
}
.slide-down-btn.slide-up{
 @include transform (rotate(180deg));
}
.control-panel {
  position: absolute;
}
.control-panel.left {
  left: -33px;
}
.control-panel.right {
  right: -33px;
}
.st-btn-wrap{
  cursor: pointer;

}
.st-btn{
  font-size: 18px;
  width: 26px;
  height: 22px;
  background:#109926;
  margin-bottom: 3px;
  font-family: 'times';
  text-align: center;
  color: #fff;
  line-height: 22px;
  @include box-shadow(#003600 -1px 1px 1px);
  @include box-sizing(border-box);
  @include user-select(none);
  &:hover {
    background-color: #88cc93;
  }
  &:active {
    background-color: #003600;
  }
}
.counter {
  overflow: hidden;
  position: absolute;
  width: 26px;
  height: 22px;
  line-height: 24px;
  text-align: center;
  background: #fff;
  top: -25px;
  @include box-shadow(#003600 -1px 1px 1px);
  >p{
    font-weight: 800;
    color: #20a034;
  }

}
.counter.warning1 {
  background:#efd7d7;
}
.counter.warning2 {
  background:#e5d8a5;
}
.counter.warning3 {
  background:#dcab71;
}
.counter.warning4 {
  background:#dc8071;
}
.counter.warning5 {
  background:#ca3030;
  p{
    color:white;
  }
}

.st-btn.edit {
  //background: #109926 url('../img/promo-nav.png') -50px -80px no-repeat;
}

.st-btn.add-new {
  //background: #109926 url('../img/promo-nav.png') -75px -80px no-repeat;
  display: none;
}

.st-btn.add-to-learning {

}
.st-btn.like-it {
  font-size: 17px;
  display: none;

}

.st-btn.close {
  font-size: 14px;

 // background: #109926 url('../img/promo-nav.png') 0px -80px no-repeat;
 }


.vrashi:hover .st-btn  {
  -webkit-animation: rotating 1s linear infinite;
  -moz-animation: rotating 1s linear infinite;
  -ms-animation: rotating 1s linear infinite;
  -o-animation: rotating 1s linear infinite;
  animation: rotating 1s linear infinite;
}

@keyframes rotating {
  0% {
    @include transform(rotateY(0deg));
  }

  50% {
    background: #0e761f;
    @include transform(rotateY(180deg));
  }

  100% {
    @include transform(rotateY(360deg));
 }
}

@-webkit-keyframes rotating /* Safari and Chrome */ { 
  0% {
    @include transform(rotateY(0deg));
  }

  50% {
    background: #0e761f;
    @include transform(rotateY(180deg));
  }

  100% {
    @include transform(rotateY(360deg));
 }
}
.sticker-source-wrap {
  display: table; /*фикс для Safari*/
  padding: 3px 0 0 3px;
  font-size: 0;

}
.sticker-source-wrap > div {
  display: inline-block;
  color:white;
  cursor: pointer;
  font-size: 12px;
  margin-right: 2px;
}
.st-source-btn {
  width: 16px;
  height: 16px;
  text-align: center;
  line-height: 16px;
  vertical-align:middle;
  text-shadow: 0 0 0.5px white;
  &:hover {
    background:#88cc93;
  }
  &:active {
    background:#003600;
  }
}
.st-source-btn.ezdict{
  font-size: 13px;
}
.st-source-btn.best {
  line-height: 14px;
  font-size: 14px;
}
.st-source-btn.active {
  background:#003600;
}
.st-translate{
  overflow: hidden;
  color: white;
  font-size: 14px;
  margin: 8px 5px 0 5px;
  padding: 0 5px 5px 0;
  max-height: 30px;
  line-height: 15px;
  @include transition(all 0.5s ease);
  @include box-sizing(border-box);
}
.st-translate.large {
  max-height: 160px;
  //overflow-y: auto;
}
#ezdict-sticker, #best-sticker {
  display: none;
}

.main-layout {
	height: 3000px;
}

// все, что касается ссаного стикера-здесь <END>

/*media quaeries*/
@media only screen and (max-width: 1280px)  {

  .promo-item {
    min-height: 250px;

  }
}

@media only screen and (max-width: 1024px) {

  .text-wrap{
    width: 95% ;
  }
  header,  {
    width: 95% ;
  }
}

@media only screen and (max-width: 992px) {
  /*promo*/

  .promo-item.first{
    width: 48.6394557823%;

  }
  .promo-item.second{
    width: 48.6394557823%;

  }
  .promo-item.third {
    margin-top: 5px;
    width: 98.63945578231293%;
    min-height: 100%

  }
  /*end-promo*/

  /*news*/

}

@media only screen and (max-width: 768px) {
  .promo-item.first{
    width: 98.63945578231293%;
    margin-top: 15px;
    min-height: 100%
  }
  .promo-item.second{
    width: 98.63945578231293%;
    margin-top: 5px;
    min-height: 100%
  }
  .promo-item.third {
    margin-top: 5px;
    width: 98.63945578231293%;
    min-height: 100%
  }
  .author-photo{
    text-align: center;
    width: 100%;
  }
  .author-text {
    width: 100%;
  }
  .logo-wrap{
    text-align: center;
    width: 100%;
  }
  .search-login-wrap{
    width: 100%;
  }
  .reg-btn {
    width: 100%;
  }
  .popular-new-content {
    h3{
      font-size: 18px;
    }
  }
  .content-col {
    width: 98.63945578231293%;
    img {
      width: 100%;
    }
  }
  .news-col {
    width: 98.63945578231293%;
  }
  .news-item {
    h3 {
      text-align: center;
    }
  }

}
